  <section class="main-header">
  <img src="study.png">
  </section>
  <section class="about">
    <h1>About</h1>
    <p>
      Twitter cloneはユーザーが自由につぶやきを投稿できるアプリです。<br>
    　(文字数制限は1~140字)
    </p>
  </section>