// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.index_table .table_bottom td {
  font-size: 1.5rem;
  height: 50px;
  width: 100px;
  overflow: auto;
}