html {
  position: relative;
  min-height: 100%;
}

body {
  text-align: center;
}

.main-header {
  padding-bottom: 15%;
  width: 100%;
  position: relative;
}

.main-header img {
  display: block;
  margin: 0 auto;
  width: 100%;
}

.container {
  width: 100%;
}

.function {
  padding: 80px;
  padding-bottom: 185px;
  width: 100%;
}

.function-images {
  width: 100%;
  display: table;
  margin-top: 60px;
  table-layout: fixed;
}

.function-image {
  display: table-cell;
  width: 100%;
}

footer {
  width: 100%;
  background-color:#f2706d;
  padding: 20px 0 10px 0;
  color: white;
  margin: auto;
  font-size: 12px;
  position: absolute;
  bottom: 0;
}

