html {
  position: relative;
  min-height: 100%;
}

body {
  text-align: center;
}

.main-header {
  padding-bottom: 15%;
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
}

.main-header img {
  display: block;
  margin: 0 auto;
  width: 25%;
  padding-top: 15%;
}

footer {
  width: 100%;
  background-color:#f2706d;
  padding: 20px 0 10px 0;
  color: white;
  margin: auto;
  padding-bottom: 10px;
  font-size: 12px;
  position: absolute;
  bottom: 0;
}

